/*
 *Sign in styls / Sign up styles
 *--------------------------------------------------
 */
body {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}
a:hover {
    text-decoration: none;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    color: #666;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin button {
    font-size: 14px;
	margin-top: 20px;
}
/* logo and title */
.logo-div {
    width: 100%;
    margin: auto;
    padding: 15px 10px 0;
    text-align: center;
}
.logo-div img {
    width: 118px;
    height: 41px;
}
.form-signin .logo-title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}
/* bottom-content */
.bottom-content {
    color: #666;
    margin-top: 80px;
    font-size: 12px;
    text-align: center;
}
/* forgot password */
.getpassword {
    float: right;
    margin-right: 5px;
}
/* 
 *linkpwd html/resetpwd html
 *--------------------------------------------------
 */
 .link-btn {
    margin-bottom: 20px;
 }
 .link-span {
    color: #666;
    font-size: 12px;
 }
 /* public style */
 .errMesage {
    /*display: none;*/
    position: relative;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcdede;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 }
 .errMesage span {
    color: #911;
    margin-left: 0px;
    word-wrap: break-word;
}
 .errMesage label {
    position: absolute;
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
    top: 1px;
    right: 10px;
    color: #cb7979;
    cursor: pointer;
}
.errMesage label:hover {
    color: #911;
}

